<p id ="notice"></p>
<% if @user.errors.any? %>
<%= @user.errors.count %>error prohibited this obj from being saved:
<div id="error_explanation" class="alert alert-danger">
<ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
</div>
<% end %>

<!--NoMethodError in UsersController#edit-->
<!--undefined method `is_matching_login_user' for #<UsersController:0x0000000000de30>-->

<div class="contrainer">
  <div class="row">
    <div class="mx-auto">
      <h2>User info</h2>

      <%= form_with model: @user do |f| %>

    <div class="form-group">
      <%= f.label :name %> <br>
      <%= f.text_field :name, id: :user_name %>
    </div>


      <div class="form-group">
        <%= f.label :image %> <br>
        <%= f.file_field :profile_image, id: :user_profile_image %>
      </div>

      <div class="form-group">
        <%= f.label :introduction %> <br>
        <%= f.text_area :introduction, id: :user_introduction %>
      </div>

      <div class="form-group">
        <%= f.submit 'Update User', class:"btn btn-secondary" %>
      </div>


<% end %>
    </div>
  </div>
</div>