<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<p>全ユーザーの投稿一覧ページ</p>

<!-- 左側(user infoとnewbook -->
<div class="row">
<div class='col-md-3'>
<h2>User info</h2>
<table class="table">
  <tr><%= image_tag '/images/default-image.jpg',size:'100x100' %> </tr>
  <tr>
    <th>name</th>
    <th></th> <!-- ユーザー名 -->
  </tr>
  <tr>
    <th>introduction</th>
    <th></th> <!-- 自己紹介文 -->
  </tr>
</table>


<div class="row">
<%= link_to edit_user_path(current_user) ,class: "btn btn-outline-secondary btn-block" do %>
<i class="fas fa-user-cog"></i>
<% end %>
</div>

<h1>New book</h1>

<%= form_with model: Book.new do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title, class: "form-control" %>

  <h4>Opinion</h4>
  <%= f.text_area :body, class: "form-control" %>

  <%= f.submit 'Create Book',class: "btn btn-success my-3" %>
<% end %>
</div>
</div>